.choose__content h4{
  color: #fff;
  margin-bottom: 15px;
}
.single__feature span{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ff766b;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.single__feature span i{
  font-size: 1.5rem;
}
.single__feature h6{
  color: #f5b70a;
  margin-bottom: 0;
}
.single__feature p{
  font-size: 0.7rem;
}
.single__feature .feature__icon-two{
  background: #2ace92;
}
.single__feature .feature__icon-three{
  background: #f5b70a;
}
.single__feature .feature__icon-four{
  background: #7865ff;
}